.contact.wow.fadeInUp
	.container
		.row
			.col-md-6
				.cool YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
				button.get GET IN TOUCH
			.col-md-6
				.form
					.stay STAY INFORMED WITH OUR NEWSLETTER
					.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.input-group.col-lg-12
						input(type="text" class="form-control" placeholder="YOUR EMAIL")
						span.input-group-btn
							button(type="button").btn SEND