footer.wow.fadeInUp
	.container
		.row
			.col-lg-8.col-md-6.left
				ul.menu
					li
						a(href="index.html") HOME 
					li
						a(href="about.html")  ABOUT US
					li
						a(href="services.html")  SERVICES
					li
						a(href="")  PORTFOLIO
					li
						a(href="blog.html")  BLOG
					li
						a(href="contact.html")  CONTACT US
			.col-lg-4.col-md-6.right 
				.text Created by akhouad 2016. All Rights Reserved
					.socio
						a(href="")
							i.icon.ion-social-facebook
						a(href="")
							i.ion-social-twitter
						a(href="")
							i.ion-social-youtube
						a(href="")
							i.ion-social-linkedin
						a(href="")
							i.ion-social-pinterest
						a(href="")
							i.ion-social-instagram