meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scaleble=no")
link(href="http://allfont.ru/allfont.css?fonts=montserrat" rel="stylesheet" type="text/css")
link(rel="stylesheet" href="http://allfont.ru/allfont.css?fonts=montserrat-bold")
link(rel="stylesheet" href="css/bootstrap.css")
link(rel="stylesheet" href="css/ionicons.min.css")
link(rel="stylesheet" href="css/animate.css")
link(rel="stylesheet" href="css/main.css")