header.wow.fadeInUp
	.container
		.logo.col-xs-1
			a(href="")
				img(src="img/logo.png", alt="")
		.menu.col-xs-10.col-sm-11
			ul.navigate
				li
					a(href="index.html") HOME
				li
					a(href="about.html") ABOUT US
				li
					a(href="services.html") SERVICES
				li.portf
					a(href="111") PORTFOLIO
					ul.menuList.portfolioList
						li
							a(href=".") PORTFOLIO LIST
						li
							a(href="") PORTFOLIO ITEM
				li.blog
					a(href="blog.html") BLOG
					ul.menuList.blogList
						li
							a(href="blog.html") BLOG LIST
						li
							a(href="blog.html") BLOG ITEM
				li
					a(href="") CONTACT US
			.button
				img(src="img/menu.png", alt="")