script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApCs-XSlFPsQ61TNYrHiCJm90tht2AkMs")
script(src="js/jquery-2.1.4.min.js")
script(src="js/isotope.pkgd.min.js")
script(src="js/wow.min.js")
script(defer src="js/jquery.flexslider.js")
script(src="js/main.js")