$gray: #60606e
$green: #7beec7
$montserrat: 'Montserrat', arial
$montserrat_bold: 'Montserrat Bold', arial
$open_sans: 'OpenSans', arial
$open_sans_extra_bold: 'Open Sans Extrabold', arial
body
	font-family: $montserrat_bold
.blogItem
	.blogImg
		width: 100%
.right
	float: right
.blogContent
	margin-top: 50px
	.search
		height: 40px
		.form-control
			height: 40px
			font-family: $montserrat_bold
			font-size: 12px
			padding-left: 16px
			background-color: #ececec
			text-transform: uppercase
			border-radius: 0px
			border: 0px
			box-shadow: none
			transition: background-color 0.2s ease-out 0s
		.input-group-btn
			border-radius: 0px
			background-color: #ececec
			.btn
				border-radius: 0px
				background-color: #ececec
				color: #afafb4
				font-size: 18px
				padding-right: 17px
				padding-top: 7px
		.form-control:focus
			background-color: #f0f0f0
	.postList
		margin-top: 45px
		ul.postsFilter
			li.filterItem
				display: inline-block
				padding: 0
				input[type="radio"]
					display: none
				label
					width: 100%
					text-align: center
					cursor: pointer
					font-size: 12px
					height: 56px
					line-height: 56px
					border-bottom: 2px solid #999999
					color: #999999
				label.active
					border-bottom: 2px solid $green
					color: $gray
		.posts
			margin-top: 85px
			.post
				display: block
				width: 100%
				height: 90px
				img
					display: inline-block
					float: left
					height: 80px
					margin-right: 18px
				.describe
					display: inline-block
					float: right
					position: inherit
					margin-top: 11px
				.postTitle
					display: inline-block
					line-height: 18px
				.date
					display: inline-block
					font-family: $open_sans
					font-size: 12px